// Utilities
@import './styles/utilities/colors';
@import './styles/utilities/buttons';
@import './styles/utilities/inputs';

// Modules
@import './styles/modules/header';
@import './styles/modules/footer';
@import './styles/modules/settings-form';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');

// Global styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Rubik', sans-serif;
  color: $darkGrey;
  font-size: 16px;

  &:focus {
    outline: 0;
  }
}

html {
  width: 250px;
  background-color: $lightGrey;
  border-radius: 15px;
}

// App styling
.app {
  display: grid;
  grid-template-columns: 100%;
}
.wrap_login {
  padding: 30px 16px 40px;
  margin-bottom: 0;
  border-radius: 0;
}

.panel-body>p:last-child>.login {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #4095e5;
  border: beige;
  color: #ffffff;
  font-size: 14px;
  padding: 2px;
  border-radius: 2px;
  margin-top: 13px;
  cursor: pointer;
}
.wrap_login>.panel-body>.h4 {
  color: #8d8d8d;
  font-size: 20px;
  line-height: 35px;
}
.wrap_profile{
  width: 300px;
  height: 250px;
  margin-bottom: 0;
  border-radius: 0;
  background: #fff;
}

.panel-heading {
  display: flex;
  width: 100%;
  font-size: 15px;
  padding: 5px 15px;
  border-bottom: 1px solid #cecece;
  box-sizing: border-box;
  height: 35.5px;
  align-items: center;
  font-weight: bold;
}
.list-group-item {
  height: 36px;
  display: flex;
  align-items: center;
  margin: 0 15px;
  padding-top: 10px;
  cursor: pointer;
}
.list-group-item .btn {
  font-size: 14px;
  color: #6c6c6c;
}
.list-group-item .btn:hover {
  color: #000000;
}
