.header {
  column-gap: 15px;
  row-gap: 5px;
  padding: 15px;
  background-color: $white;
  border-bottom: 1px solid $accentGrey;
  display: flex;
  flex-direction: column;
}

.header__logo {
  grid-area: logo;
  max-width: 100%;
}

.header__title--blue {
  font-size: inherit;
  font-weight: inherit;
  color: $blue;
}
